@import "mixins";
@import "variables";
@import "./components/_header";
@import "./components/_info";
@import "./components/_menu";
@import "./components/_events";
@import "./components/_aboutus";
@import "./components/_footer";
@import "./components/_404page";
html{
    overflow-x: hidden;
}
*{
    padding:0 0;
    margin:0 0;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1254px;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: white;
    background-color: $bg-color;
    padding:0 20px;
}
button{
    border: 0;
    border-radius: 100px;
    color: white;
    &.passive-button{
        @include PassiveButton;
        @include MullerR(18px);
        padding: 10px 0;
    }
    &.active-button{
        @include MullerEB(20px);
        padding: 20.1px 0;
        @include ActiveButton;
    }
    &.menu-button{
        @include MenuButton;
        @include MullerEB(20px);
        padding:20.1px 0;
    }
    &.card-button{
        @include CardButton;
    }
}
h1,h2,h3{
    color: white;
}
h1,h2{
    @include MullerEB(70px);
}
h3{
    @include MullerEB(44px);
}
h4{
    @include MullerEB(24px);
}
.orderModal{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    .modal{
        background-color: $bg-color;
        z-index: 10001;
        padding: 40px;
        border-radius: 30px;
        row-gap: 30px;
        display: flex;
        flex-direction: column;
    }
    p{
        @include MullerR(20px);
    }
    span{
        @include MullerR(20px);
    }
}
//ADAPTING

@media (max-width: 1024px) {
    .flex{
        justify-content: center;
    }
    .container{
        max-width: 786px;
    }
    .info{
        .info-wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        .info__promo-text{
            align-items: center;
        }
        .info__promo-image{
            order: -1;
            max-width: 100%;
            background-position: center;
        }
    }
    .menu{
        .menu__cards{
            max-width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 60px;
        }
    }
    .menu-wrapper{
        align-items: center;
    }
    .events{
        .events__text-block-second{
            margin:0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width:100%;
            p{
                text-align: center;
            }
        }
        .events__text-block{
            display: none;
        }
        .events-row:nth-child(2){
            grid-template-columns: 1fr 1fr;
        }
    }
    .aboutus{
        .aboutus-wrapper{
            justify-content: center;
            flex-wrap: wrap;
        }
        .aboutus__img-block{
            width: 68%;
            order: -1;
            img{
                width: 100%;
            }
        }
        .aboutus__text-block{
            row-gap: 29px;
            p{
                width: 100%;
            }
            h2{
                text-align: center;
            }
        }
    }
    footer{
        .footer__text-block{
            width: 100%;
        }
        .footer__lists{
            width: 100%;
        }
    }
}
@media (max-width: 786px){
    .container{
        display: flex;
        max-width: 576px;
    }
    .logo{
        font-size: 26px;
    }
    header{
        .header__nav{
            .header__menu{
            display: none;
            width: max-content;
            padding: 20px;
            flex-direction: column;
            z-index: 1000;
            position: absolute;
            background-color: $bg-color;
            row-gap: 20px;
            right:0;
            top:86px;
            border-radius: 20px;
            outline: 1px $footer-color;
            a svg{
                display: none;
            }
        }
        .header__login-button{
            display: none;
        }
        }
        .burger-menu{
            display: block;
        }
        .header__nav .header__login button.passive-button{
            width: 30px;
            height: 30px;
            svg{
                width:21px;
                height: 20px;
            }
        }
        
    }
    .info{
        .info__promo-text{
            width: 100%;
            p{
                width: 300px;
            }
        }
    }
    .menu{
        .menu__buttons{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: auto auto;
            gap:15px;
            max-height: 100px;
            row-gap: 15px;
            li:nth-child(2),li:nth-child(1),li:nth-child(3){
                grid-column: span 2;
            }
            li:nth-child(4),li:nth-child(5){
                grid-column: span 3;
            }
        }
        .menu__cards-card{
            column-gap: 30px;
            padding:0 21px 14px 21px;
        }
    }
    .events{
        .events-row{
            column-gap: 7px;
            
        }
        .events__text-block-second{
            row-gap: 30px;
            h2{
                font-size: 56px;
            }
        }
        .events__img-block{
            padding: 54px 10px 20px 10px;
            height: 110px;
        div{
            width: 100%;
            h4{
                font-size: 20px;
            }
            button{
                width: 80px;
                font-size: 12px;
            }
        }
    }
    }
    footer{
        .footer__text-block{
            flex-wrap: wrap;
            row-gap: 58px;
        }
        .footer__lists{
            margin: 0 0;
            width: 100%;
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
    }
}
@media(max-width: 576px){
    .container{
        max-width: 320px;
    }
    .info{
        .info-wrapper{
            h1{
                font-size: 48px;
                svg{
                    height: 50px;
                }
            }
            .info__promo-image{
                height: 365px;
            }
            .info__promo-text{
                p{
                    font-size: 14px;
                    width: 290px;
                    margin-bottom: 11px;

                }
                span{
                    font-size: 14px;
                }
                .info__promo-video{
                    margin-bottom: 32px;
                }
                .active-button{
                    font-size: 16px;
                }
                .info__promo-text-buttons{
                    width: 100%;
                }
            }
        }
        margin-bottom: 70px;
    }
    .menu{
        h2{
            font-size: 48px;
        }
        .menu__buttons{
            margin-bottom: 63px;
        .menu-button{
            padding: 12px;
            font-size: 12px;
            
        }
        }
        .menu__cards{
            column-gap: 13px;
            row-gap: 63px;
            .menu__cards-card{
                border-radius: 18px;
                .card__content{
                    margin-top: -34px;
                }
                img{
                    width: 95px;
                    margin-bottom: 12px;
                }
                .card__title{
                    margin-bottom: 12px;
                    font-size: 15px;
                }
                p{
                    margin-bottom: 12px;
                    font-size: 9px;
                }
                .card__functional{
                    padding: 0 11px ;
                    .sizes{
                        margin-bottom: 12px;
                        button{
                            font-size: 9px;
                            padding: 7px;
                    }
                }
                    .gradient-stroke button{
                        padding: 6px 0;
                    font-size: 9px;
                    
                }
                .price-controls{
                    margin-bottom: 13px;
                    flex-wrap: wrap;
                    row-gap: 4px;
                    justify-content: center;
                    .price{
                        span:first-child{
                            font-size: 15px!important;
                        }
                        span:nth-child(2){
                            margin-left: 1px;
                            font-size: 10px;
                        }
                    }
                    .amount{
                        column-gap: 8px;
                        button{
                            width: 14px;
                            padding:1px 2px;
                            font-size: 11px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
                }
                .passive-button{
                    padding: 8px;
                    font-size: 11px;
                }
            }
        }
        .menu__img-block{
            border-radius: 20px;
            margin:28px 0 63px 0;
            padding: 74px 0;
            font-size: 27px;
        }
    }
    .events{
        margin-bottom: 98px;
        .events__text-block-second{
            h2{
            font-size: 48px;
        }
        p{
                font-size: 14px;
            }
        }
        .events__img-block{
            border-radius: 18px;
            height: 100px;
        div{
            
            h4{
                font-size: 15px;
            }
            button{
                max-width: 60px;
                font-size: 10px;
            }
        }
    }
    }
    .aboutus{
        margin-bottom: 64px;
        h2{
            font-size: 48px;
        }
        p{
            font-size: 14px;
        }
    }
    footer{
        a{
        font-size: 17px;
        &.telephone{
            font-size: 15px;
        }
    }
    }
}