$primary-gradient: linear-gradient(to right, #FFA32B, #FF612E);
$primary-hover:#FF612E;
$primary-active:#FFA32B;
$h1:70px;
$p:20px;
$secondary-text:#A3A3A3;
$third-text:#515151;
$shadow-color:#ff6a0006;
$secondary-color:#210A01;
$bg-color:#140900;
$footer-color:#170600;