.blockquote{
    border: 2px solid #000;
    width:fit-content;
    padding: 20px;
    background-color: #ffffff;
}
.figure1{
    border: 6px solid #734b07;
    background-color: #fff6dc;
    padding: 20px;
    margin: 0px;
    font-family: 'TF2Secondary', sans-serif;
    font-size: 24px;
}
.header{
    border: 6px solid #734b07;
    background-color: #ffe8b3;
    padding: 20px;
    margin-bottom: 20px;
    word-wrap: normal;
    width:fit-content;
    font-family: 'TF2 Build', sans-serif;
    text-align: center;
}
.footer{
    border-top: solid 20px #171717;
    background-color: #171717;
    color:#ffffff;
}
@font-face {
    font-family: 'TF2Secondary'; /* Name your font family */
    src: url(./17227.ttf); /* Locate the .ttf file within your directory*/
  }
  
  body {
    font-family: 'TF2Secondary', sans-serif; /* Use the font family */
  }
  a{
    text-decoration: none;
  }