.blockquote{
    border: 2px solid #000;
    width:fit-content;
    padding: 20px;
    background-color: #ffffff;
}
.figure1{
    border: 6px solid #734b07;
    background-color: #f7f1df;
    padding: 20px;
    margin: 0px;
    font-family: 'Rockwell Nova', sans-serif;
}
.header{
    border: 6px solid #734b07;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    word-wrap: normal;
    width:fit-content;
    font-family: 'TF2 Build', sans-serif;
}
.footer{
    border-top: solid 20px #000;
    background-color: #ffffff;
}