.container-404{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
            width: 120px;
            }
        .wrap{
            h1{
                font-size: 100px;
            }
            margin: 0 auto;
            width: 350px;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            height: fit-content;
            row-gap: 20px;
            div{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
            }
            p{
                  @include MullerR(20px);  
                }
        }
        }
        