footer{
    background-color: $footer-color;
    margin: 0 0 70px 0;
}
.container{
    flex-direction: column;
}
.footer__text-block{
    width:78.63%;
    display: flex;
    column-gap: 68px;
    margin-bottom: 96px;
}
.footer__lists{
    width: 100%;
    display: flex;
    max-width: 760px;
    justify-content: space-between;
    margin-top: 4px;
    ul{
        @include MullerR(18px);
        color:$third-text;
        width: max-content;
        li{
            margin-bottom: 14px;
        }
        li:first-child{
            color:$secondary-text;
            margin-bottom: 18px;
            @include MullerR(20px);
        }
    }
}
.footer__socials-block{
    display: flex;
    justify-content: space-between;
    align-items: end;
    ul{
        display: flex;
        column-gap: 16px;
        align-items: center;
        img{
            width: 24px;
            &:hover{
                transition: 0.3s linear;
                filter:contrast(250%);
            }
        }
    }
}
.telephone{
    @include MullerR(20px);
    line-height: 100%;
    background-image:$primary-gradient;
    color:transparent;
    background-clip: text;
}